<h4 class="position-absolute top-0 start-50 translate-middle-x">Create a new drone</h4>

<form method= "POST" action="drones/create-form.hbs">
  <div class="row gx-3 gy-2 align-items-center" aria-label="Basic outlined example">
    <label class="visually-hidden"  >Name</label>
    <input class="form-control" type="text" name="name" placeholder="Jane Doe">
    <br>
    <label class="visually-hidden"  >Number of Propellers</label>
    <input class="form-control" type="number" name="propellers" placeholder="Number of Propellers">
    <br>
    <label class="visually-hidden"  >Maximum Speed</label>
    <input class="form-control" type="number" name="maxSpeed" placeholder="Maximum Speed">
    <br>
    <button class="btn btn-outline-success" type="submit">SUBMIT</button>
  </div>
</form>